html
  head
    title= "MOVIES"
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    link(rel="stylesheet", href="error.css")
    link(rel='shortcut icon', href='../img/cine.svg', type='image/x-icon')
  body
    div#div
      h1= mensaje
      img(src="img/dormir.png", id="unicornio")
      h2= mensaje2
    script(src="script.js")

    