html
  head
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    title= "MOVIES"
    link(rel='shortcut icon', href='../img/cine.svg', type='image/x-icon')
    link(rel="stylesheet", href="home.css")
  body
    div#nav
      div#titulo
        img(src="img/ar-camera.png", id="imgcamera")
        h1= hache1
      div#cabecero
        input(type="text" id="peticion") 
        br 
        br
      div#botones
        input(type="image", src= "img/lupa.png", id="boton")
        br
        br
        input(type="button", value="Búsqueda avanzada" id="boton2")
    div(id="data")      
    script(src="script.js")
    