html
  head
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    title= "MOVIES"
    link(rel='shortcut icon', href='../img/cine.svg', type='image/x-icon')
    link(rel="stylesheet", href="home.css")
  body
    div#cabecero
      h1= hache1
      input(type="text" id="peticion") 
      br 
      br
    div#botones
      input(type="button", value="Ver detalles" id="boton")
      br
      br
      input(type="button", value="Añade una nueva peli" id="boton2")
    div(id="data")      
    script(src="script.js")
    