html {
  font-family: "Roboto Mono", monospace;
}

body {
  background-color: beige;
  width: 800px;
  margin: 0;
}
h1 {
  /* display: flex; */

  color: rgb(31, 42, 22);
  margin-top: 1vh;
}
#data {
  margin: 200px;
  margin-top: 5px;
  background-color: rgb(233, 185, 65, 0.7);

  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 6px;

  width: 72vw;
}
p.enunciados {
  color: rgb(31, 42, 22);
}
#titulo {
  display: flex;
  flex-direction: row;
  /* background-color: rgb(190, 165, 165); */
  margin-left: 200px;
  border-radius: 6px;
  width: 77.2vw;
}
#imgcamera {
  width: 72px;
}

#boton2 {
  background-color: rgb(151, 163, 173);
  border-radius: 6px;
  font-family: "Roboto Mono", monospace;
  color: rgb(31, 42, 22);
  border-style: none;
  margin-left: 290px;
  margin-right: 240px;
  margin-top: -70px;
  padding: 10px;
}
#boton {
  margin-right: 100px;
  padding: 10px;

  background-color: rgb(31, 42, 22, 0.5);

  font-family: "Roboto Mono", monospace;
  color: rgb(31, 42, 22);
  border-style: none;
  height: 17px;
  margin-top: 3vh;
}

#peticion {
  border-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(31, 42, 22, 0.5);
  padding: 10px;
  width: 480px;
  margin-top: 3vh;
}
.tarjeta {
  margin: 50px;
}

.botonHome {
  border-style: none;
  background-color: rgb(226, 197, 119);
  width: 16px;
  height: 16px;

  border-radius: 4px;
  display: flex;
  align-items: baseline;
  margin: 6.5px;
  font-family: "Roboto Mono", monospace;
  color: black;
}

#botonsHome {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#nav {
  background-color: rgb(151, 163, 173);
  margin: 0;
  display: flex;
  height: 10vh;
  width: 100vw;
}
.pelifav {
  margin: 40px;
  background-color: (226, 197, 119);
  display: flex;
  flex-direction: column;
  padding: 2vw;
  border-radius: 6px;
  width: 15vw;
  border-style: solid;
  border-color: rgb(31, 42, 22, 0.2);
}

#pelifav2 {
  display: flex;
  flex-direction: row;
}
#pelifav3 {
  display: flex;
  flex-direction: column;
}

#poster {
  width: 5vw;
  height: 15vh;
  padding-left: 10px;
}
